registry=https://pkgs.dev.azure.com/nanteneus/EffortVisualizer/_packaging/frontend/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/nanteneus/EffortVisualizer/_packaging/frontend/npm/registry/:username=nanteneus
//pkgs.dev.azure.com/nanteneus/EffortVisualizer/_packaging/frontend/npm/registry/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/nanteneus/EffortVisualizer/_packaging/frontend/npm/registry/:email=ryo13579978@gmail.com
//pkgs.dev.azure.com/nanteneus/EffortVisualizer/_packaging/frontend/npm/:username=nanteneus
//pkgs.dev.azure.com/nanteneus/EffortVisualizer/_packaging/frontend/npm/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/nanteneus/EffortVisualizer/_packaging/frontend/npm/:email=ryo13579978@gmail.com
; end auth token